html,
body {
    margin: 0;
    padding: 0;
}


/* header css start  */
.header_clr,
.landing-page {
    background-color: #05141f;
}

.section_2,
.section_3,
.section_4,
.section_6,
.section_7,
.section_8,
.section_9,
.section_10,
.section_11 {
    margin-top: 5rem;
}

a {
    text-decoration: none;
}

#myHeader .nav-link.active {
    border-bottom: 3px solid #ea0029;
}

#myHeader .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

ul.f_12 {
    font-size: 12px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 40px rgba(32, 64, 96, 0.1);
    z-index: 999;
}

.navbar-toggler-icon {
    background-image: url("../images/hamburger-icon.svg") !important;
    color: #fff;
    box-shadow: 0 2px 40px rgba(32, 64, 96, 0.1);
}

/* header css end  */
/* landing-page-body */
.landing-page-body {
    margin-left: 5rem;
    margin-right: 5rem;
}

/* banner css start  */
.banner_img {
    top: 100px;
    font-size: 4rem;
    line-height: 4rem;
}

.scroll {
    left: 47%;
    margin-bottom: 2.2rem;
    font-size: 12px;
}

.scroll-down i {
    margin-left: 10px;
}

/* banner css end  */
/* section-1 css start  */
.insp1 span {
    font-size: 10rem;
    background: #05141f;
    background: linear-gradient(to left, #5D7D2B 0%, #F3C300 25%, #ee220d 50%, #ea0029 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insp_text {
    font-size: 2rem;
}

.insp2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    line-height: 4rem;
}

.insp3 {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    line-height: 5rem;
}

.insp2 span.insp_span {
    background: linear-gradient(to left, #5D7D2B 0%, #F3C300 35%, #EE4E19 75%, #EA0029 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.insp4 {
    padding-left: 8rem;
}

.insp5 {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 3rem;
    padding: 1rem 12rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #1e2c36 !important;
    background-color: #ffffff !important;
    border-radius: 3px !important;
    font-weight: 500;
    padding: 0.2rem 2rem;
}

.nav-pills .nav-link,
.nav-pills .hide>.nav-link {
    background-color: #1e2c36 !important;
    color: #ffffff !important;
    border-radius: 3px !important;
    padding: 0.3rem 2rem;
}

.share {
    color: #05141f;
    border-radius: 15px;
    padding: 0.5rem 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.share:hover {
    background-color: #05141f;
    color: #fff;
    box-shadow: 0 2px 10px #86b7fe;
    transition: .5s;
}

/* footer section start */
.footer {
    background-color: #fff;
}

.footer p {
    font-size: 1.5rem;
    font-weight: 500;
}

.button {
    border: none;
    color: #000000;
    text-align: center;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    margin: .5rem 1rem .5rem .2rem;
    width: 200px;
    border-radius: 4px;
    background-color: #05141f;
    color: #fff;
}

.button:hover span:after {
    padding: 0 .8rem 0 .2rem;
    opacity: 1;
    right: 0;
}

/* footer section end */

/* video section start */
.videocovers {
    position: relative
}

.videocovers .yt_video_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.videocovers .yt_video_wrapper iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px
}

.font-h4 {
    font-size: 1.1rem
}

.greenerrors {
    color: #0ff74e
}

.rederrors {
    color: #f35757
}

#myDIV1,
#myDIV2,
#myDIV3,
#myDIV4,
#myDIV5 {
    position: absolute;
    top: 50%;
    left: 45%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9
}

#myDIV1 button,
#myDIV2 button,
#myDIV3 button,
#myDIV4 button,
#myDIV5 button {
    background-color: transparent;
    border: 0;
    padding: 0
}


.videocover video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

video {
    aspect-ratio: 1.77 / 1;
    width: 100%;
    height: auto;
    background-color: #000;
}

.NYvideocover {
    position: relative;
    margin: 5px 0 20px
}

.NYvideocover .backimgsd {
    position: relative;
    z-index: 9;
    border-radius: 10px
}

.NYvideocover .youtube {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 12;
    cursor: pointer
}

.NYvideocover .youtube img {
    width: 100%;
    height: auto;
    opacity: 0;
    border-radius: 10px
}

.NYvideocover .youtube iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.NYvideocover .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10
}

/* video section start */

@media (max-width:786px) {
    #myHeader .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .landing-page-body {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .banner_img {
        top: -45px;
        font-size: 2rem;
        line-height: 2rem;
    }

    .insp1 span {
        font-size: 2rem;
    }

    .insp_text {
        font-size: 1rem;
    }

    .insp2 {
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 2rem;
    }

    .insp3 {
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
        line-height: 2rem;
    }

    .insp4 {
        padding-left: 0;
    }

    .insp5 {
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
        line-height: 1.5rem;
        padding: 0;
    }

    .w_100 {
        width: 100%;
    }

    .section_2,
    .section_3,
    .section_4,
    .section_6,
    .section_7,
    .section_8,
    .section_9,
    .section_10,
    .section_11 {
        margin-top: 2rem;
    }

    .videocovers {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #myDIV1,
    #myDIV2,
    #myDIV3,
    #myDIV4,
    #myDIV5 {
        position: absolute;
        top: 40%;
        left: 45%;
        right: 0;
        transform: translateY(-50%);
        z-index: 9;
    }

    .playBtn {
        width: 30px;
    }

    .section_10 .insp2 {
        margin-top: 0;
    }

    .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer .button {
        background-color: #fff;
    }
}

@media (max-width:600px) {
    .banner_img {
        top: -45px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width:540px) {
    .banner_img {
        top: -45px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width:480px) {
    .banner_img {
        top: -45px;
        font-size: 1rem;
        line-height: 1rem;
    }

    .landing-page-body {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width:320px) {
    .banner_img {
        top: -45px;
        font-size: .8rem;
        line-height: .8rem;
    }

    .insp1 span {
        font-size: 1.5rem;
    }

    .insp_text {
        font-size: .7rem;
    }

    .scroll {
        margin-bottom: 1.5rem;
        font-size: 8px;
    }
}